:root{
    --main-color: #fffffff5;
    --second-color: #3b3b3bf5;
    --shadowWhite: 1px 1px 1px white;
    --shadowBlack: 3px 3px 3px black;
}

body, html{
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("images/planesbody.jpg");
}


.header{
    padding-top:0;
    padding-bottom: 30px;
    display:flex;
    flex-direction: row;
    font-size: 40px;
    justify-content: space-between;
}

    .header__title{
        color:var(--second-color);
        font-family: 'Architects Daughter', cursive;
        padding-left:100px;
        text-shadow: var(--shadowWhite);
    }

    .header__icons{
        padding-right:30px;
        color:var(--main-color);
        text-shadow: var(--shadowBlack);
        width:100px;
        display:flex;
        justify-content: space-between;
    }


.tagline{
    width:100%;
    padding-top:50px;
    /* background-color: white; */
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Seymour One', sans-serif;
    text-shadow: var(--shadowBlack);
    color:white;
}

    .tagline__title{
        font-size: 40px;
    }

    .tagline__title_small{
        font-size:20px;
        margin-top:10px;
    }


